/* ---------------------------------- FONTS --------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

/* ----------------------------------- CSS ---------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    /* background: url("img/background/home_bg.jpg"); */
    background: url("https://i.ibb.co/yWtD7pz/home-bg.jpg");
    background-size: cover;
}
a {
    text-decoration: none;
}
.container {
    min-height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------------------- NAV SECTION ------------------------------ */
nav {
    display: grid;
    grid-template-areas: 
    "nav-links accounts";
    width: 1100px;
    margin: auto;
    margin-top: 3%;
    text-align: center;
    background: transparent;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    
}
a:hover {
    color: orangered;
    font-weight: 900;
}
li {
    list-style: none;
    display: inline;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}
i {
    margin-right: 10px;
    cursor: pointer;
    font-size: 18px;
}
i:hover {
    color: orangered;
}
.header {
    text-align: center;
}

/* ----------------------------- END NAV SECTION ---------------------------- */

/* ------------------------------ HOME SECTION ------------------------------ */
#home {
    position: relative;
    z-index: -1;
}
#home::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#home .home {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 45px;
    justify-content: flex-start;
}
#home h1 {
    display: inline-block;
    letter-spacing: 1.5px;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
}
#home h1 span {
    color: orangered;
}
#home h2 {
    display: block;
    width: fit-content;
    font-size: 2rem;
    position: relative;
    color: transparent;
    font-family: 'Sawarabi Gothic', sans-serif;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#home h2 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: orangered;
    animation: text_reveal_box 1.3s ease;
    animation-delay: 1s;
}

/* KEY FRAMES */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}
