@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* nav Section */

nav {
    width: 100%;
    background-color: transparent ;
}

/* Logo Section */

nav p a {
    color: white;
    font-size: 20px;
    line-height: 60px;
    float: left;
    padding: 0px 20px;
}

nav p a:hover{
    color: orangered;
}

/* End Logo Section */

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    color: white;
    font-size: 14px;
    padding: 22px 14px 5px;
    text-decoration: none;
}

nav ul li a:hover {
    color: orangered;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: transparent;
    padding: 10px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 140px;
}

nav ul li ul li a {
    padding: 8px 14px;    
}

nav ul li ul li a:hover {
    background-color: transparent;
    color: orangered;
}

/* End nav Section */

/* Home Section */

#home {
    background-image: url(./img/homebg.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: -1;
}

#home::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

#home .home {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#home h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
}

#home h1 span {
    color: orangered;
}

#home h2 {
    display: block;
    width: fit-content;
    font-size: 2rem;
    position: relative;
    color: transparent;
    font-family: 'Sawarabi Gothic', sans-serif;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

#home h2 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(230, 57, 5);
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}

/*
#home .cta {
    display:  inline-block;
    padding:  10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#home .cta:hover {
    color: black;
    background-color: white;
}
*/
/* End Home Section */

/* KeyFrames */

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

/* End KeyFrames */

/* Cyber Security Section */

/* End Cyber Security Section */
