@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root {
    --fcolor: #333;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #cdeaf5;

}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    border: 1px solid var(--fcolor);
    float: left;
    font-size: 100px;
    /* font-weight: bold; */
    line-height: 34px;
    /* margin-right: -1px;
    margin-top: -1px; */
    padding: 0;
    text-align: center;
    height: 150px;
    width: 150px;
    color: var(--fcolor);
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    /* flex-direction: row; */
    color: var(--fcolor);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-info {
    /* margin-left: 20px; */
    margin: 15% 0 0 0;
    text-align: center;
    font-weight: 800;
}

.resetBoard {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 11px;
    color: var(--fcolor);
}

.heading {
    text-align: center;
    font-size: 75px;
    font-weight: 500;
    margin: 0 0 60px 0;
    letter-spacing: 5px;
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 50px;
    }

    .square {
        height: 86px;
        width: 86px;
        font-size: 86px;
    }
}
